html {
  background-image: url("images/black.jpg");
}

@media only screen and (min-width: 769px) {
  body {margin-left: 100px; margin-right: 100px;}
}

img.portfolioimage {outline-style:solid; outline-color: white;}

button.section {
  color: white;
  background-color: black;
  border: none;
  font-size: 16px;
}
button:hover {
  color: red;
}
#profile {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 20px 0px;
}

.hamburgerpiece {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

#name {
  color: white;
  background-color: black;
  border: none;
  font-size: 16px;
}


#topbar {
  display: none;
}

#themebutton {
  color: white;
  background-color: black;
  border: none;
  font-size: 16px; margin-right: 10px;
}
#themebutton2 {
  color: white;
  background-color: black;
  border: none;
  font-size: 16px;margin-right: 10px;
}

#formname {
  color: white;
  background-color: white;
  
}

#hamburgerbox:hover .dropdownitem {height:30px; width:150px;} 

#hamburgerbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position:fixed; z-index: 1; width:100%; background-color: black; top:0;
}

#dropdownmenu .dropdownnitem:hover {
  color: red;
}

.dropdownitem {color:white;background-color: black;}


#dropdownmenu {    display: flex;
  justify-content: space-between;
  flex-direction: row; 
} 



#dropdowncontent {display:none;width:100%;position:fixed;justify-content:baseline; padding-bottom:20px;
  flex-direction: column; margin-top: 30px;}

  #dropdowncontent:hover {
    display: block;
  }

@media only screen and (min-width: 769px) {

  #topbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0px;
  }


#hamburgerbox {
  display: none;
}


#hamburgerbun {
  margin-left: 5px;
}

}
  
















#Introduction {
  color: white;
}

#introbox {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 70px;
  justify-items: center;
  padding-bottom: 20px;
}



@media only screen and (min-width: 1201px) {
  #introbox {
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
    padding-top: 50px; 
  }
}







#skillstitle {
  color: white;
  font-size: 40px;
  text-align: center;
}
.skillimg {
  height: 100px;
  width: 100px;
}
.skilldescription {
  font-size: 20px;
  color: white;
}


.skillimg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.skilldescription {
  padding-top: 20px;
  padding-bottom: 20px;
}

#skillsbox2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 70px;
  justify-items: center;
}
#skillsbox {
  display: none;
}

@media only screen and (min-width: 769px) {
  #skillsbox2 {
    display: none;
  }

  #skillsbox {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    background-color: black;
    padding: 30px 0px;
    justify-items: center;
  }

  .skilldescription {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .skillimg {
    padding-top: 0px;
    padding-bottom: 0px;
  }

}








#portfoliotitle {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.portfolioimage {
  height: 100px;
  width: 200px;
  transition: transform 0.2s;    
  padding-top: 40px;
  padding-bottom: 20px;

}
.portfolioimage:hover {
  transform: scale(1);
}
.portfoliodescription {
  padding-top: 40px;
  padding-bottom: 20px;

  color: white;
}
#portfoliobox {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: 30px 0px;
  justify-items: center;
  background-color: black;
}

#portfoliobox2 {
  display: none;
}

#portfoliobox2 {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 70px;
  justify-items: center;
}


#portfoliobox {
display: none;

}


@media only screen and (min-width: 769px) {
  .portfolioimage{ padding-top: 0px;
  padding-bottom: 0px; }

  .portfolioimage:hover {
    transform: scale(1);}

    .portfoliodescription {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    #portfoliobox {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-evenly;
      padding: 30px 0px;
      justify-items: center;
      background-color: black;
    }
    
    #portfoliobox2 {
      display: none;
    }

  .portfoliodescription {
    padding-top: 40px;
    padding-bottom: 20px;
  }


}






#contactmetitle {
  color: white;
  font-size: 40px;
  text-align: center;
}
form {
  padding: 10px 0px;
  align-items: center;
}
.inputitem {
  margin: 5px;
  width: 250px;
}
textarea {
  height: 200px;
  width: 250px;
}
.contactbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#submit {
  color: white;
  background-color: black;
}
#submit:hover {
  color: red;
}

@media only screen and (min-width: 709px) {
  textarea {
    height: 200px;
    width: 400px;
  }
  .contactbox {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  form {
    padding: 30px 0px;
  }
  .inputitem {
    margin: 5px;
    width: 400px;
  }
}







.footerbutton {
  display:none;
}
.footerimg {
  height: 50px;
  width: 50px;
}
#footer {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: black;
  padding: 30px 0px;
  justify-items: center;
}
/*
@media only screen and (max-width: 768px) {
  .footerbutton {
    display: none;
  }
  .footerimg {
    height: 50px;
    width: 50px;
  }
  #footer {
    grid-gap: 0px;
  }
} */

@media only screen and (min-width: 769px) 

{  #footer {grid-gap: 20px;}

.footerbutton {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;}

  .footerimg {
    height: 100px;
    width: 100px;
  }

}