









.menuclassexit {
  animation-name: menudisappear;
  transition: 1s;
  animation-fill-mode: forwards;
  display: block;
  z-index: 40;
  position: fixed;
  background-color: black;
  color: black;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  margin: 0;
  animation-direction: normal;
  animation-duration: 0.75s;
  text-align: center;
  margin-top: 4rem;
  color: white;
}

.menuclassenter {
  animation-name: menuappear;
  display: block;
  z-index: 40;
  position: fixed;
  background-color: black;
  color: black;
  height: 100%;
  width: 50%;
  top: 0;
  overflow-x: hidden;
  margin: 0;
  animation-direction: normal;
  animation-duration: 0.75s;
  text-align: center;
  margin-top: 4rem;
}











@keyframes menudisappear {
    0% {
      transform: translate(0px, 0px);
      display: block;
    }
    100% {
     // transform: translate(-100%, 0px);
     transform: translate(0px, 50%);
      display: none;
    }
  }
  @keyframes menuappear {
    0% {
      //transform: translate(-500px, 0px);
      transform: (0px,-500px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
